<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/templatecss.css" /> 
    <script src="js/index.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClqnFu0dU7VUncMw9pfqhxcOBymPGZsC0&callback=initMap&v=weekly" async defer></script>
    <title>Template</title> <!--numero fontana-->
</head>
    <body>
        
        <div align="center">

            <img id="TestLogo" src="../image/logo.png" alt="logoPage" >
        </div>
        
        <nav class="navbar">
            
            <div class="logo">Fontane Belpasso</div>
            
          <ul class="nav-links">
            
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            
              <div class="menu">
                
                  <li class="services">
                 <!--href="/"--><a>Fontane</a><select></select> <!--href="/"-->

                  <ul class="dropdown">
                    <li><a href="fontana1/fontana1.html" onclick="return changePage();">Fontana1&#160;</a></li>
                    <li><a href="fontana2/fontana2.html" onclick="return changePage();">Fontana&#160;2</a></li>
                    <li><a href="fontana3/fontana3.html" onclick="return changePage();">Fontana&#160;3</a></li>
                    <li><a href="fontana4/fontana4.html" onclick="return changePage();">Fontana&#160;4</a></li>
                    <li><a href="fontana5/fontana5.html" onclick="return changePage();">Fontana&#160;5</a></li>
                    <li><a href="fontana6/fontana6.html" onclick="return changePage();">Fontana&#160;6</a></li>
                    <li><a href="fontana7/fontana7.html" onclick="return changePage();">Fontana&#160;7</a></li>
                    <li><a href="fontana8/fontana8.html" onclick="return changePage();">Fontana&#160;8</a></li>
                    <li><a href="fontana9/fontana9.html" onclick="return changePage();">Fontana&#160;9</a></li>
                    <li><a href="fontana10/fontana10.html" onclick="return changePage();">&#160;&#160;Fontana&#160;10</a></li>
                    <li><a href="fontana11/fontana11.html" onclick="return changePage();">&#160;&#160;Fontana&#160;11</a></li>
                    <li><a href="fontana12/fontana12.html" onclick="return changePage();">&#160;&#160;Fontana&#160;12</a></li>
                    <li><a href="fontana13/fontana13.html" onclick="return changePage();">&#160;&#160;Fontana&#160;13</a></li>
                    <li><a href="fontana14/fontana14.html" onclick="return changePage();">&#160;&#160;Fontana&#160;14</a></li>
                    <li><a href="fontana15/fontana15.html" onclick="return changePage();">&#160;&#160;Fontana&#160;15</a></li>
                    <li><a href="fontana16/fontana16.html" onclick="return changePage();">&#160;&#160;Fontana&#160;16</a></li>
                    <li><a href="fontana17/fontana17.html" onclick="return changePage();">&#160;&#160;Fontana&#160;17</a></li>
                    <li><a href="fontana18/fontana18.html" onclick="return changePage();">&#160;&#160;Fontana&#160;18</a></li>
                    <li><a href="fontana19/fontana19.html" onclick="return changePage();">&#160;&#160;Fontana&#160;19</a></li>
                    <li><a href="fontana20/fontana20.html" onclick="return changePage();">&#160;&#160;Fontana&#160;20</a></li>
                    <li><a href="fontana21/fontana21.html" onclick="return changePage();">&#160;&#160;Fontana&#160;21</a></li>
                    <li><a href="fontana22/fontana22.html" onclick="return changePage();">&#160;&#160;Fontana&#160;22</a></li>
                    <li><a href="fontana23/fontana23.html" onclick="return changePage();">&#160;&#160;Fontana&#160;23</a></li>
                    <li><a href="fontana24/fontana24.html" onclick="return changePage();">&#160;&#160;Fontana&#160;24</a></li>
                    <li><a href="fontana25/fontana25.html" onclick="return changePage();">&#160;&#160;Fontana&#160;25</a></li>
                    <li><a href="fontana26/fontana26.html" onclick="return changePage();">&#160;&#160;Fontana&#160;26</a></li>
                    <li><a href="fontana27/fontana27.html" onclick="return changePage();">&#160;&#160;Fontana&#160;27</a></li>
                    <li><a href="fontana28/fontana28.html" onclick="return changePage();">&#160;&#160;Fontana&#160;28</a></li>
                    <li><a href="fontana29/fontana29.html" onclick="return changePage();">&#160;&#160;Fontana&#160;29</a></li>
                    <li><a href="fontana30/fontana30.html" onclick="return changePage();">&#160;&#160;Fontana&#160;30</a></li>
                    <li><a href="fontana31/fontana31.html" onclick="return changePage();">&#160;&#160;Fontana&#160;31</a></li>
                    <li><a href="fontana32/fontana32.html" onclick="return changePage();">&#160;&#160;Fontana&#160;32</a></li>
                    <li><a href="fontana33/fontana33.html" onclick="return changePage();">&#160;&#160;Fontana&#160;33</a></li>
                    <li><a href="fontana34/fontana34.html" onclick="return changePage();">&#160;&#160;Fontana&#160;34</a></li>
                    <li><a href="fontana35/fontana35.html" onclick="return changePage();">&#160;&#160;Fontana&#160;35</a></li>
                  </ul>
              </div>
          </ul>
          
      </nav>
      <div align="center">
              <H5 id="pFont"> seleziona la fontana che vuoi visualizzare cliccando il suo numero dalla mappa o dal menu "Fontane"</H5><br>
      </div>
        <hr class="test">

        <div>
            <p>‎ ‎‎‎ ‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎   ‎ ‎</p>
        </div>


        <div id="map"></div>


        <div align="center">
            
        <p>‎ ‎‎‎ ‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎   ‎ ‎</p>

        

        <hr>

        <img id="animationGif" src="/utilities/animation.gif" alt="Fullscreen GIF">


        </div>

        <div align="center">

            <img id="logo-img" src="../image/test.png" alt="logoPage">

        </div>

        <p>‎ ‎‎‎ ‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎   ‎ ‎</p>

        <div align="center">
            <h6 class="credit">&copy;‎ ‎‎2023-2028 SMF studios</h6>
        </div>
        <p>‎ ‎‎‎ ‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎   ‎ ‎</p>

        
    </body>
</html>