<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/templatecss.css" /> 
    <script src="index.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClqnFu0dU7VUncMw9pfqhxcOBymPGZsC0&callback=initMap&v=weekly" async defer></script>
    <title>Fontana22</title> <!--numero fontana-->
</head>
    <body>
        
        
        <div align="center">

            <a href="../homepage.html">
                <img class="TestLogo" src="../image/logo.png" alt="Logo" />
            </a>
        </div>
        
        <nav class="navbar">
          
            <div class="logo">Fontane Belpasso</div>
        
          <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
              <div class="menu">

                  <li class="services">
                  <a>Info</a>
                  <ul class="dropdown">
                      <li><a href="../homepage.html"> Home</a></li>
                      <li><a href="imageShow.html">Immagini</a></li> 
                      <li><a href="#about">Descrizione</a></li>
                      <li><a href="../utilities/credit.html">Chi siamo</a></li> 
                  </ul>
              </div>
          </ul>
          

      </nav>

      
      <div align="center">
        <H5 id="pFont2"> benvenuto nella fontana numero 22, clicca il menu a destra per visualizzare le opzioni</H5><br>

      </div>

        <hr class="test">
        <div>
            <p>‎ ‎‎‎ ‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎   ‎ ‎</p>
        </div>


  
        <div class="map-wrapper">
            
            <div id="map-overlay">
                <div id="map"></div>
                
            
                <div align="center">
                    <img id="logo-ft" src="../image/loghi_pagine/loghi_pagine-22.png" alt="logoPage" >
                <div id="about">
                    <p id="nFont"></p>Fontana situata in via XV Trav. II Retta Levante</p>                   
                     <h6 class="credit">&copy;‎ ‎ 2023-2028 SMF studios</h6>
                    </div>
                </div>
                </div>
                </div>

                <div align="center">
                <p>‎ ‎‎‎ ‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎   ‎ ‎</p>
                </div>
            </div>
            
        </div>
    </body>
</html>