<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/templatecss.css" /> 
    <title>credit</title>
</head>

<body>
            
    <img class="center" src="../image/logo.png" alt="logoPage" >
    <div align="center">
        <h6>&copy;‎ ‎ 2023-2028 SMF studios</h6>
    </div>

    <header>
        <div id="reload">
            <button onclick="backHome()" id ="reload" class="button">Back to home page</button>
        </div>
    </header>
    <hr>

    <div align="center">

        <div style="font-style: italic;">
            <div class="center">    
                <h5>PROGETTO SIMETO LIFE
                    “L’ACQUA E LE FONTANE A BELPASSO”
                    Anno Scolastico 2021/22
                </h5> 
                <h3>
                    IIS FRANCESCO REDI 
                    <a href="https://www.isfrancescoredi.edu.it/">(website)</a>
                <h3>
                    5A informatica,
                    <li><strong>Simone</strong></li>
                    <li><strong>Andrea</strong></li>
                    <br><br>
                    sotto direzione dei docenti
                </h3>
                

                <ol style="list-style-type:square">
                    <li><strong>Parisi Giuseppe</strong></li>
                    <li><strong>Barbagallo Angela</strong></li>
                </ol>
            </div>
        </div>


    </div>


    <script>
        function backHome(){ // reload
            window.location = './../homepage.html', "_blank";
        }
    </script>
    
</body>
</html>