<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/templatecss.css" /> 
    <script src="../js/index.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClqnFu0dU7VUncMw9pfqhxcOBymPGZsC0&callback=initMap&v=weekly" async defer></script>
    <title>Template</title> <!--numero fontana-->
</head>
    <body>
        
        
        <div align="center">

            <img class="TestLogo" src="../image/logo.png" alt="logoPage" >
        </div>
        
        <nav class="navbar">
          
            <div class="logo">Fontane Belpasso</div>
        
          <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
              <div class="menu">

                  <li class="services">
                  <a href="/">Info</a>
                  <ul class="dropdown">
                      <li><a href="#home"> Home</a></li>
                      <li><a href="/template/imageShow.html">Immagini</a></li> 
                      <li><a href="#about">Descrizione</a></li>
                      <li><a href="/template/credit.html">Chi siamo</a></li> 
                  </ul>
              </div>
          </ul>
          

      </nav>

        <hr class="test">
        <div>
            <p>‎ ‎‎‎ ‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎   ‎ ‎</p>
        </div>


  
        <div class="map-wrapper">
            
            <div id="map-overlay">
                <div id="map"></div>
                <img id="logo-ft" src="../image/fontana22logo.png" alt="logoPage" ><!--cambiare numero fontana--> 
                

                <div align="center">

                <div id="about">
                    <p id="pFont">Fontana situata in via Angolo XIV Trav. II Retta Ponente</p><!--info fontana-->
                    <h6 class="credit">&copy;‎ ‎ 2023-2028 SMF studios</h6>
                </div>
                </div>
                </div>

                <div align="center">
                <p>‎ ‎‎‎ ‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎   ‎ ‎</p>
                </div>
            </div>
        </div>
    </body>
</html>