<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/templatecss.css" /> 
    <script src="index.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClqnFu0dU7VUncMw9pfqhxcOBymPGZsC0&callback=initMap&v=weekly" async defer></script>
    <title>Fontana29</title> <!--numero fontana-->
</head>
    <body>
        
        
        <div align="center">

            <a href="../homepage.html">
                <img class="TestLogo" src="../image/logo.png" alt="Logo" />
            </a>
        </div>
        
        <nav class="navbar">
          
            <div class="logo">Fontane Belpasso</div>
        
                    <header>

                    </header>
                    <hr>
          </ul>
          

      </nav>

      <div align="center">
        <H5 id="pFont2"> vai in basso per visualizzare la foto, clicca il logo in alto per tornare indietro</H5><br>
      </div>

        <hr class="test">
        <div>
            <p>‎ ‎‎‎ ‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎   ‎ ‎</p>
        </div>


  
        <div class="map-wrapper">
            
            <div id="map-overlay">
                <div id="map"></div>
                
                

                <div align="center">
                    <img id="logo-ft" src="../image/loghi_pagine/loghi_pagine-29.png" alt="logoPage" >
                <div id="about">
                <h6 class="credit">&copy;‎ ‎ 2023-2028 SMF studios</h6>

                <div id="pic-fontana-overlay">
                    <img id="pic-fontana" src="../image/fontane_foto/fontana29.png" alt="logoPage" ><!--cambiare numero fontana-->         
                </div>

                </div>
                </div>
                </div>
                
                <div align="center">
                <p>‎ ‎‎‎ ‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎   ‎ ‎</p>
                </div>

            </div>
        </div>
        

        
    <script>
        function backHome(){ // reload
            window.location = 'fontana29.html', "_blank";
        }
    </script>

    </body>
</html>